@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap");

body {
  background: #ecf0f3;
  box-sizing: border-box;
}

.loginForm {
  max-width: 360px !important;
  width: 100% !important;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.loginContainer {
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  display: flex;
  text-align: center;
  justify-content: center;
  position: relative;
  padding: 0 20px;
  box-sizing: border-box;
  background: #ecf0f3;
  font-family: "Poppins", "san-serif";
}

.brand-logo {
  height: 100px;
  width: 100px;
  background: url("../../assets/img/portfolio-icons-code-web-development-logo.png");
  margin: 10px auto;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #f6f6f6;
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
}

.brand-title {
  margin-top: 10px;
  font-weight: 700;
  font-size: 1.8rem;
  color: #1da1f2;
  letter-spacing: 1px;
}

.inputs {
  text-align: left;
  margin-top: 30px;
}

.inputs {
  label,
  input,
  button {
    display: block;
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
  }
}

.inputs label {
  margin-bottom: 4px;
}

.inputs label:nth-of-type(2) {
  margin-top: 12px;
}
.loginError {
  color: red;
  margin-top: 6px;
  margin-left: 6px;
}

.inputs input::placeholder {
  color: gray;
}

.inputs input {
  background: #ecf0f3;
  padding: 10px;
  padding-left: 20px;
  height: 50px;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

.inputs button {
  color: white;
  margin-top: 20px;
  background: #1da1f2;
  height: 40px;
  letter-spacing: 1.2px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  box-shadow: 4px 4px 6px #b7babd, -6px -6px 6px white;
  transition: 0.2s;
}

.inputs button:hover {
  box-shadow: none;
}

.inputs a {
  position: absolute;
  font-size: 8px;
  bottom: 4px;
  right: 4px;
  text-decoration: none;
  color: black;
  background: yellow;
  border-radius: 10px;
  padding: 2px;
}

.inputs h1 {
  position: absolute;
  top: 0;
  left: 0;
}
.inputCheckbox {
  box-shadow: 3px 3px 5px #cbced1, -3px -3px 5px white !important;
  height: 20px !important;
  width: 20px !important;
}
